require 'date'
require "pry"
<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
      <h1>Today</h1>
      <%= "#{DateTime.new}" %>
      <p><%="The date is #{day}"%></p>
    </body>
</html>
