require 'date'
require 'pry'
<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
      <h1>Today</h1>
      <p><%="The date is #{DateTime.strftime("%A, %B %e, %Y")}"%></p>
    </body>
</html>
